/*!
 * name: @feizheng/webkit-sassui-loading
 * description: Loading component for webkit sass.
 * homepage: https://github.com/afeiship/webkit-sassui-loading
 * version: 1.0.0
 * date: 2020-08-16T09:57:22.123Z
 * license: MIT
 */
/*webkit-sassui-loading Start*/
.webkit-sassui-loading {
  /* prettier-ignore */
  text-align: center;
  user-select: none;
  left: 50%;
  top: 37.5%;
  transform: translate(-50%, -50%);
  text-align: center;
  background: rgba(0, 0, 0, 0.6);
  padding: 16px;
  border-radius: 10px;
  color: #fff;
}

@keyframes webkit-sassui-loading-fade-in {
  to {
    opacity: 1;
    background: rgba(0, 0, 0, 0.6);
  }
}

@keyframes webkit-sassui-loading-fade-out {
  from {
    opacity: 1;
    background: rgba(0, 0, 0, 0.6);
  }
  to {
    opacity: 0;
    background: rgba(0, 0, 0, 0);
  }
}

.webkit-sassui-loading > .ft {
  margin-top: 5px;
  display: block;
}

.webkit-sassui-loading.visible-true, .webkit-sassui-loading[data-visible="true"] {
  background: rgba(0, 0, 0, 0);
  animation: webkit-sassui-loading-fade-in 300ms ease-in forwards;
}

.webkit-sassui-loading, .webkit-sassui-loading.visible-false, .webkit-sassui-loading[data-visible="false"] {
  animation: webkit-sassui-loading-fade-out 300ms ease-in forwards;
}

/*webkit-sassui-loading End*/
.test-webkit-sassui-loading {
  border: 1px solid red;
}

button {
  width: 100%;
  padding: 14px;
  border: none;
  background: #007aff;
  color: #fff;
  outline: none;
  border-radius: 5px;
  margin-bottom: 20px;
}

button:active {
  background: #0062cc;
}

.webkit-sassui-loading {
  position: fixed;
  font-size: 14px;
}
