/*!
 * name: @jswork/wsui-loading
 * description: Loading component for webkit sass.
 * homepage: https://github.com/afeiship/wsui-loading
 * version: 1.0.0
 * date: 2021-02-19 13:15:26
 * license: MIT
 */
/*wsui-loading Start*/
.wsui-loading {
  /* prettier-ignore */
  text-align: center;
  user-select: none;
  left: 50%;
  top: 37.5%;
  transform: translate(-50%, -50%);
  text-align: center;
  background: rgba(0, 0, 0, 0.6);
  padding: 16px;
  border-radius: 10px;
  color: #fff;
}

@keyframes wsui-loading-fade-in {
  to {
    opacity: 1;
    background: rgba(0, 0, 0, 0.6);
  }
}

@keyframes wsui-loading-fade-out {
  from {
    opacity: 1;
    background: rgba(0, 0, 0, 0.6);
  }
  to {
    opacity: 0;
    background: rgba(0, 0, 0, 0);
  }
}

.wsui-loading > .ft {
  margin-top: 5px;
  display: block;
}

.wsui-loading.visible-true, .wsui-loading[data-visible="true"] {
  background: rgba(0, 0, 0, 0);
  animation: wsui-loading-fade-in 300ms ease-in forwards;
}

.wsui-loading, .wsui-loading.visible-false, .wsui-loading[data-visible="false"] {
  animation: wsui-loading-fade-out 300ms ease-in forwards;
}

/*wsui-loading End*/
.test-wsui-loading {
  border: 1px solid red;
}

button {
  width: 100%;
  padding: 14px;
  border: none;
  background: #007aff;
  color: #fff;
  outline: none;
  border-radius: 5px;
  margin-bottom: 20px;
}

button:active {
  background: #0062cc;
}

.wsui-loading {
  position: fixed;
  font-size: 14px;
}
